:root {
  /* colors */
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */

.btn-primary {
  color: #fff !important;
  background: var(--color-green);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.text-bold {
  font-weight: 600;
}

.l-heading {
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 1.3rem;
}

.text-red {
  color: var(--color-red);
  font-weight: 700;
  cursor: pointer;
}

/* core */
body {
  font-family: "Poppins", sans-serif;
}

#showcase {
  background-color: var(--color-red);
  margin: auto;
  position: relative;
}

#showcase::before {
  content: "";
  background: url("../images/bg-intro-desktop.png") no-repeat center
    center/cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#showcase-container {
  min-height: 100vh;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  padding: 0 1rem;
}

#showcase-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  z-index: 1;
}

#showcase-form > div:first-child {
  color: #fff;
  padding: 1rem 6rem;
  background-color: var(--color-blue);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

#showcase-form form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

#showcase-form form input {
  min-width: 100%;
  padding: 0.8rem 2rem;
  font-family: "Poppins", sans-serif;
  border: 1.5px solid #eee;
  border-radius: 5px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

#showcase-heading {
  padding: 0 1rem;
}

#showcase-heading > p {
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.7;
}

form .form-footer {
  padding: 0 2rem;
  text-align: center;
  font-size: 0.6rem;
  color: var(--color-grayish-blue);
  margin: 1rem 0;
  font-weight: 500;
}

/* Box-shadow */
#showcase-form > div:first-child,
#showcase-form form {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Adding error icon */
.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group i {
  position: absolute;
  top: 12px;
  right: 25px;
  /* visibility: hidden; */
}

.form-group small {
  float: right;
  font-style: italic;
  font-size: 0.6rem;
  color: var(--color-red);
  font-weight: 500;
  margin-top: 0.5rem;
}

.clr {
  clear: both;
}

.error {
  border-color: var(--color-red) !important;
}

/* Mobile */
@media (max-width: 828px) {
  #showcase::before {
    background: url("../images/bg-intro-mobile.png") no-repeat center
      center/cover;
  }

  #showcase-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 4rem 0;
  }

  #showcase-heading {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 376px) {
  #showcase-heading .l-heading {
    font-size: 2rem;
  }
}
